# Node / Next
/source/frontend/node_modules/
/source/frontend/.next/
/source/frontend/.env.local
/source/frontend/.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
